<ion-view title="Account">
  <ion-content class="padding">
    <h1>{{activity[0].name}}</h1>
    display stuff
    {{activity[0].name}}
    <div class="row">
  <div class="col ">
  	  <a class=" button button-icon icon" ng-click="loadDescription()">
  	 <i class="icon ion-document-text"></i>Description</a>
  </div>
  <div class="col ">
    <a class="button button-icon icon "  ng-click="loadContact()">
    	 <i class="icon ion-ios7-information"></i>Contact</a>
  </div>
</div>
  <div class="row">
  <div class="col ">
    <a class="button button-icon icon "  ng-click="loadLocation()">
    	<i class="icon ion-ios7-location"></i>Location</a>
  </div>
  <div class="col ">
    <a class="button button-icon icon "  ng-click="loadSchedule()">
    	<i class="icon ion-ios7-clock-outline"></i>Schedule</a>
  </div>
</div>
  </ion-content>
</ion-view>
