<ion-view title="Account">
  <ion-content class="padding">
    <h1>{{activity[0].name}}</h1>
    display stuff
    {{activity[0].name}}
    <div class="row">
  <div class="col">
    <button class="button button-block button-positive">Button</button>
  </div>
  <div class="col">
    <button class="button button-block">Button</button>
  </div>
   <div class="col">
    <button class="button button-block">Button</button>
  </div>
</div>
  <div class="row">
  <div class="col">
    <button class="button button-block button-positive">Button</button>
  </div>
  <div class="col">
    <button class="button button-block">Button</button>
  </div>
   <div class="col">
    <button class="button button-block">Button</button>
  </div>
</div>
  </ion-content>
</ion-view>
